<footer class="f-info mt-auto">
  <div class="container">
    <div class="f-info-links">
      <a href="#">Support</a>
      <a href="#">Hosting</a>
      <a href="/listings">HavenStay</a>
    </div>
    <div class="f-info-bottom">
      <span>Copyright © 2026 HavenStay, Inc.</span>
      <a href="#">Privacy</a>
      <span>·</span>
      <a href="#">Terms</a>
    </div>
    <div class="f-info-social">
      <a href="#" aria-label="Facebook"><i class="fa-brands fa-facebook"></i></a>
      <a href="#" aria-label="Twitter"><i class="fa-brands fa-twitter"></i></a>
      <a href="#" aria-label="Instagram"><i class="fa-brands fa-instagram"></i></a>
    </div>
  </div>
</footer>
